---
---

@import "{{ site.theme }}";

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1rem;
}


#main_content {
    max-width: 50rem;
}

#header_wrap .inner{
    max-width: 50rem;
}

#footer_wrap .inner{
    max-width: 50rem;
}

img{

    width: 30%;
    min-width: 240px;
}

table{
    width:100%;
}